/*define some color variables, this pallette taken from GitHub Dark - https://greasyfork.org/en/scripts/15562-github-dark-script
Usage example...  color: var(--green)
*/

:root {
    --darkest: #191919;
    --dark: #262626;
    --light: #D9D9D9;
    --lightest: #FEFEFE;
    --blue: #316CBA;
    --green: #478948;
}
.btn, a, body {
    color: var(--light)
}
@font-face {
    font-family: roboto-regular;
    src: url(../fonts/Roboto-Regular.woff) format('woff');
    font-weight: 400
}
@font-face {
    font-family: roboto-light;
    src: url(../fonts/Roboto-Light.woff) format('woff');
    font-weight: lighter
}
@font-face {
    font-family: roboto-medium;
    src: url(../fonts/Roboto-Medium.woff) format('woff');
    font-weight: 600
}
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    padding-top: 1px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background: var(--darkest)
}
a {
    text-decoration: none
}
.btn {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 12px;
    border: 2px solid #333;
    margin: 0 5px;
    background: var(--light);
    outline: 0
}
.main {
    position: relative
}
.top-header {
    text-align: center;
    padding-top: 30px
}
div.container {
    width: 950px;
    margin: auto
}
.brand {
    float: left;
    text-align: left
}
.brand h1 {
    font-size: 40px;
    margin-bottom: 5px
}
.brand p {
    margin-bottom: 30px;
    font-size: 17px;
    font-family: roboto-light;
}
.top-header:after {
    clear: both;
    content: ' ';
    display: block
}
.top-nav {
    float: right;
    line-height: 80px
}
.main-content {
    margin-top: 80px
}
.content-item {
    display: block;
    width: 295px;
    box-sizing: border-box;
    padding: 15px;
    height: 200px;
    background: var(--dark);
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    color: var(--lightest)
}
.content-item .header {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
    color: var(--lightest)
}
.content-item p.tagline {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--light)
}
.content-item .footer {
    position: absolute;
    bottom: 12px;
    color: var(--blue)
}
div.footer span.footer-stat {
    margin: 0 10px 0 0;
    font-size: 13px
}
.clearfix {
    clear: both
}
.loading-more {
    text-align: center;
    margin: -50px auto 50px
}
.loading-more h3 {
    font-size: 20px
}
.date-head {
    margin: -40px 20px 40px 0;
    padding: 8px 0 8px 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center
}
h1.date-head:first-letter {
    text-transform: capitalize
}
.btn.btn-select {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    cursor: pointer;
    border-color: var(--light);
    border-radius: 2px;
}
.btn-select select {
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-radius: 0px;
    height: 34px;
    -webkit-appearance: none;
    display: inline-block;
    width: 140px;
    outline: 0;
    background-color: var(--light);
    padding: 0 5px 0 10px;
    cursor: pointer
}
.btn-select .fa {
    position: absolute;
    right: 5px;
    top: 10px;
    color: var(--darkest)
}
div.footer span.footer-stat .fa {
    margin-right: 2px
}
.hide {
    display: none
}
.content-batch {
    margin-bottom: 80px
}
.content-item .header a {
    display: block;
    width: 100%;
    text-overflow: ellipsis!important;
    white-space: nowrap;
    overflow: hidden
}
